.additional-products {
  position: relative;
  margin-bottom: 35px;

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 3px;
    background-color: $green-color;
  }
}

.additional-products__title-container {
  @include mobile-container;
  margin-bottom: 34px;
  padding-left: 0;
}

.additional-products__title {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding-left: 20px;
  padding-right: 24px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: $white-color;
}

.additional-products__container {
  @include mobile-container;
}

.additional-products__list {
  @include list;
  margin-bottom: 39px;
  border-top: 1px solid #cdcdcd;
}

.additional-products__additional-item {
  border-bottom: 1px solid #cdcdcd;
}

@media (min-width: $tablet-width) {
  .additional-products {
    margin-bottom: 76px;

    &::before {
      top: 22px;
    }
  }

  .additional-products__title-container {
    @include tablet-container;
    margin-bottom: 80px;
  }

  .additional-products__title {
    padding-left: 37px;
    padding-right: 38px;
    font-size: 36px;
    line-height: 36px;
  }

  .additional-products__container {
    @include tablet-container;
  }

  .additional-products__list {
    margin-bottom: 69px;
    border: 1px solid $light-grey-color;
  }

  .additional-products__additional-item {
    border-bottom: 1px solid $medium-grey-color;

    &:last-child {
      border-bottom: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .additional-products {
    margin-bottom: 86px;
  }

  .additional-products__title-container {
    @include desktop-container;
    padding-left: 0;
  }

  .additional-products__title {
    padding-left: 40px;
  }

  .additional-products__container {
    @include desktop-container;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .additional-products__list {
    width: 895px;
    margin-bottom: 0;
    border-top: 1px solid #cdcdcd;
    border-right: none;
    border-bottom: 1px solid #cdcdcd;
    border-left: none;
  }

  .additional-products__additional-item {
    border-bottom: 1px solid #cdcdcd;
  }
}
