.additional-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 17px;
}

.additional-item__link {
  width: 100%;
  margin-bottom: 13px;
}

.additional-item__title {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $light-black-color;
}

.additional-item__portion-volume,
.additional-item__price {
  margin: 0;
  font-family: $secondary-font;
  line-height: 14px;
  color: $dark-grey-color;
}

.additional-item__button {
  width: 100%;
  margin-top: 15px;
}

@media (min-width: $tablet-width) {
  .additional-item {
    padding-top: 25px;
    padding-right: 36px;
    padding-bottom: 27px;
    padding-left: 37px;
  }

  .additional-item__link {
    width: auto;
    margin-right: auto;
    margin-bottom: 0;
  }

  .additional-item__title {
    font-size: 20px;
    line-height: 20px;
  }

  .additional-item__portion-volume,
  .additional-item__price {
    padding-top: 4px;
    font-size: 16px;
    line-height: 20px;
  }

  .additional-item__price {
    width: 95px;
    text-align: right;
  }

  .additional-item__button {
    margin-top: 22px;
  }
}

@media (min-width: $desktop-width) {
  .additional-item {
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 16px;
    padding-left: 0;
  }

  .additional-item__link {
    padding-top: 10px;
  }

  .additional-item__portion-volume {
    width: 245px;
    padding-top: 14px;
  }

  .additional-item__price {
    width: 80px;
    padding-top: 14px;
    text-align: left;
  }

  .additional-item__button {
    width: 245px;
    margin-top: 0;
  }
}
