.advantages {
  @include mobile-container;
  margin-bottom: 20px;
}

.advantages__title {
  margin: 0;
  font-size: 36px;
  line-height: 60px;
}

.advantages__list {
  @include list;
  display: flex;
  flex-wrap: wrap;
  font-family: $secondary-font;
  color: $dark-grey-color;
}

.advantages__item {
  margin-bottom: 20px;
}

.advantages__description {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .advantages {
    @include tablet-container;
    margin-bottom: 0;
  }

  .advantages__item {
    width: 354px;
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    @include desktop-container;
  }

  .advantages__item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 27px;
  }

  .advantages__item:nth-child(4n) {
    margin-right: 0;
  }
}
