.button {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $white-color;
  background-color: $green-color;

  &:hover,
  &:focus {
    background-color: $saturated-green-color;
  }

  &:active {
    color: rgba($white-color, 0.3);
  }
}
