.copyright__link {
  display: flex;
  justify-content: space-between;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: $dark-grey-color;

  &:hover path,
  &:focus path {
    fill: $green-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__name {
  margin-top: 8px;
}
