@media (min-width: $desktop-width) {
  .index-page {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
      display: block;
      width: 50%;
      height: 696px;
      background-color: $dark-green-color;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-position: -10% 0;
      background-repeat: no-repeat;

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px auto;
      }
    }
  }
}
