.main-nav__container {
  @include mobile-container;
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: -42px;
  right: 20px;
  width: 24px;
  height: 18px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
}

.main-nav--closed .main-nav__toggle {
  background-image: url("../img/icon-mobile-menu.svg");
  background-position: 0 0;
}

.main-nav--opened .main-nav__toggle {
  background-image: url("../img/icon-close.svg");
  background-position: 50% 0;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}
