.main-catalog {
  border: 1px solid $extra-light-grey-color;
}

.main-catalog__list {
  @include list;
}

.main-catalog__catalog-item {
  padding-bottom: 25px;
  border: 1px solid $extra-light-grey-color;
}

.main-catalog__show-all {
  padding-top: 80px;
  padding-bottom: 25px;
  text-align: center;
}

.main-catalog__show-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.main-catalog__more-text {
  margin: 0;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey-color;
}
