.main-catalog {
  margin-bottom: 28px;
  border: 1px solid $extra-light-grey-color;
}

.main-catalog__list {
  @include list;
}

.main-catalog__catalog-item {
  padding-bottom: 24px;
  border-bottom: 1px solid $extra-light-grey-color;
}

.main-catalog__show-all {
  @include mobile-container;
  position: relative;
  padding-top: 79px;
  padding-bottom: 24px;
  text-align: center;
}

.main-catalog__show-text {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.main-catalog__more-text {
  margin: 0;
  margin-bottom: 21px;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey-color;
}

.main-catalog__button {
  display: block;
  color: $dark-grey-color;
  background-color: $white-grey-color;

  &::before {
    content: "";
    position: absolute;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    background: url("../img/icon-plus-mobile.svg") 0 0 no-repeat;
    opacity: 0.2;
  }

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba($dark-grey-color, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .main-catalog {
    @include tablet-container;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 8px;
    border: none;
  }

  .main-catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-catalog__catalog-item {
    margin-bottom: 58px;
    padding: 0;
    border: none;
  }

  .main-catalog__show-all {
    width: 324px;
    margin: 0;
    margin-top: 82px;
    margin-bottom: 58px;
    padding-top: 163px;
    padding-right: 37px;
    padding-bottom: 40px;
    padding-left: 38px;
    border: 1px solid $light-grey-color;
  }

  .main-catalog__show-text {
    width: 140px;
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;
    font-size: 20px;
  }

  .main-catalog__more-text {
    width: 180px;
    margin-right: auto;
    margin-bottom: 83px;
    margin-left: auto;
    font-size: 16px;
    line-height: 20px;
  }

  .main-catalog__button::before {
    top: 54px;
    width: 60px;
    height: 60px;
    background: url("../img/icon-plus.svg") 0 0 no-repeat;
  }
}

@media (min-width: $desktop-width) {
  .main-catalog {
    @include desktop-container;
    margin-bottom: 15px;
  }

  .main-catalog__list {
    justify-content: flex-start;
  }

  .main-catalog__catalog-item {
    margin-right: 80px;
    margin-bottom: 60px;
  }

  .main-catalog__catalog-item:nth-child(4n) {
    margin-right: 0;
  }

  .main-catalog__show-all {
    width: 245px;
  }

  .main-catalog__more-text {
    width: auto;
  }
}
