.page-header {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding-top: 11px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;
  border-bottom: 1px solid $light-grey-color;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    width: 768px;
    margin-bottom: 60px;
    padding-top: 24px;
    padding-right: 30px;
    padding-bottom: 0;
    padding-left: 30px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1300px;
    margin-bottom: 30px;
    padding-top: 54px;
    padding-right: 40px;
    padding-bottom: 0;
    padding-left: 40px;
  }
}
