.page-footer__links {
  padding-top: 39px;
  padding-bottom: 22px;
  background-color: $white-grey-color;
}

.page-footer__container {
  @include mobile-container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.page-footer__logo {
  margin-bottom: 28px;
}

.page-footer__logo[href]:hover,
.page-footer__logo[href]:focus {
  opacity: 0.8;
}

.page-footer__logo[href]:active {
  opacity: 0.6;
}

.page-footer__copyright {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .page-footer__links {
    padding-top: 58px;
    padding-bottom: 58px;
  }

  .page-footer__container {
    @include tablet-container;
    flex-direction: row;
  }

  .page-footer__logo {
    width: 162px;
    margin-bottom: 0;
  }

  .page-footer__copyright {
    width: 162px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__links {
    padding-top: 60px;
    padding-bottom: 56px;
  }

  .page-footer__container {
    @include desktop-container;
    align-items: stretch;
  }

  .page-footer__logo {
    margin-top: 3px;
  }
}
