.page-header {
  padding-top: 11px;

  &--inner-page {
    margin-bottom: 15px;
  }
}

.page-header__container {
  @include mobile-container;
}

.page-header__main-nav {
  margin-top: 13px;
}

@media (min-width: $tablet-width) {
  .page-header {
    @include tablet-container;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 56px;
    padding-top: 24px;
    padding-bottom: 0;
    border: none;
  }

  .page-header__container {
    width: auto;
    margin: 0;
    padding: 0;
  }

  .page-header__main-nav {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    @include desktop-container;
    margin-bottom: 25px;
    padding-top: 54px;
    padding-bottom: 0;

    &--inner-page {
      margin-bottom: 71px;
    }
  }
}
