.page-main__header {
  position: relative;
  margin-bottom: 22px;
  padding-top: 27px;
  color: $white-color;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 305px;
    background-color: $dark-green-color;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
  }
}

.page-main__container {
  @include mobile-container;
  position: relative;
}

.page-main__title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  &--inner-page {
    margin-bottom: 28px;
    line-height: 60px;
  }
}

.page-main__slogan {
  display: block;
  margin-bottom: 28px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.page-main__button {
  display: block;
}

.page-main__program-form {
  margin-top: 30px;
  margin-bottom: 30px;
}

.page-main__inner-container {
  @include mobile-container;
}

@media (min-width: $tablet-width) {
  .page-main__header {
    padding-top: 0;
    margin-bottom: 0;
    color: $black-color;
    text-align: left;

    &::before {
      display: none;
    }
  }

  .page-main__container {
    @include tablet-container;
    min-height: 810px;
    padding-left: 118px;
  }

  .page-main__title {
    width: 450px;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;

    &--inner-page {
      margin-bottom: 83px;
    }
  }

  .page-main__slogan {
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 20px;
  }

  .page-main__promo-image {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: -1;
  }

  .page-main__button {
    display: inline-block;
    vertical-align: top;
  }

  .page-main__inner-container {
    @include tablet-container;
  }
}

@media (min-width: $desktop-width) {
  .page-main__header {
    margin-bottom: 80px;

    &::before {
      top: -142px;
      left: 50%;
      display: block;
      width: 50%;
      height: 696px;
      background-image: url("../img/index-background-desktop@1x.jpg");
    }
  }

  .page-main__container {
    @include desktop-container;
    min-height: 554px;
    padding-top: 80px;
    padding-left: 120px;
  }

  .page-main__title--inner-page {
    margin-bottom: 84px;
  }

  .page-main__slogan {
    margin-bottom: 53px;
  }

  .page-main__promo-image {
    top: 0;
    left: 490px;
    transform: translateX(0);
  }

  .page-main__inner-container {
    @include desktop-container;
  }
}
