.section-preview {
  padding: 20px;
  background-color: $white-grey-color;
}

.section-preview__title {
  margin: 0;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.section-preview__description {
  margin: 0;
  font-family: $secondary-font;
  color: $dark-grey-color;
}

.section-preview__link {
  font-size: 16px;
  line-height: 16px;
  color: $black-color;
  text-transform: uppercase;
}
