.site-list {
  @include list;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid $light-grey-color;
}

.site-list__item {
  border-bottom: 1px solid $light-grey-color;
}

.site-list__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 23px;
  color: $black-color;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    padding-top: 18px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    border-top: none;
  }

  .site-list__item {
    margin-right: 36px;
    padding-bottom: 7px;
    border-bottom: none;

    &--current {
      border-bottom: 2px solid $green-color;
    }
  }

  .site-list__item:last-child {
    margin-right: 0;
  }

  .site-list__link {
    padding: 0;
    color: $light-black-color;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    padding-top: 19px;
    font-size: 20px;
  }

  .site-list__item {
    margin-right: 34px;
    padding-bottom: 9px;

    &--current {
      border-bottom: 2px solid $white-color;
    }
  }

  .site-list__link {
    color: $white-color;
  }
}
