.social-list {
  @include list;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 22px;
  padding-top: 22px;
  padding-bottom: 18px;
  border-top: 1px solid $medium-grey-color;
  border-bottom: 1px solid $medium-grey-color;
}

.social-list__item {
  box-sizing: border-box;
  width: 22px;
  margin-right: 34px;
  text-align: center;

  &--vkontakte {
    padding-top: 1px;
  }

  &--instagram {
    padding-top: 2px;
  }

  &--facebook {
    padding-right: 5px;
  }
}

.social-list__item:last-child {
  margin-right: 0;
}

.social-list__link-icon {
  fill: $grey-color;
}

.social-list__link:hover .social-list__link-icon,
.social-list__link:focus .social-list__link-icon {
  fill: $green-color;
}

.social-list__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .social-list {
    width: auto;
    margin-bottom: 0;
    padding: 0;
    border: none;
  }

  .social-list__item {
    width: 30px;
    margin-right: 25px;

    &--instagram {
      padding-top: 0;
    }

    &--facebook {
      padding-right: 0;
    }
  }
}
