.special-offer {
  display: block;
  width: 280px;
  height: 289px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: $white-color;
  background-color: $green-color;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .special-offer {
    width: 708px;
    height: 200px;
    background-image: url("../../img/gift-photo-tablet@1x.jpg");
  }
}

@media (min-width: $desktop-width) {
  .special-offer {
    width: 245px;
    height: 289px;
    background-image: url("../../img/gift-photo-desktop@1x.jpg");
  }
}
