@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $black-color;
  /*
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  */
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
