@import "normalize.scss";
@import "global.scss";
@import "mixins.scss";
@import "blocks/page-header.scss";
@import "blocks/site-list.scss";
@import "blocks/page-main.scss";
@import "blocks/button.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/catalog-sections.scss";
@import "blocks/section-preview.scss";
