@import "variables.scss";
@import "mixins.scss";
@import "normalize.scss";
@import "global.scss";
@import "blocks/index-page.scss";
@import "blocks/page-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/button.scss";
@import "blocks/page-main.scss";
@import "blocks/catalog-sections.scss";
@import "blocks/section-preview.scss";
@import "blocks/advantages.scss";
@import "blocks/example-result.scss";
@import "blocks/contacts.scss";
@import "blocks/page-footer.scss";
@import "blocks/social-list.scss";
@import "blocks/copyright.scss";
@import "blocks/main-catalog.scss";
@import "blocks/catalog-item.scss";
@import "blocks/additional-products.scss";
@import "blocks/additional-item.scss";
@import "blocks/special-offer.scss";
@import "blocks/program-form.scss";
