@import "variables.scss";
@import "mixins.scss";
@import "normalize.scss";
@import "global.scss";
@import "blocks/page-header.scss";
@import "blocks/site-list.scss";
@import "blocks/page-main.scss";
@import "blocks/button.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/catalog-sections.scss";
@import "blocks/section-preview.scss";
@import "blocks/advantages.scss";
@import "blocks/page-footer.scss";
@import "blocks/social-list.scss";
@import "blocks/copyright.scss";
@import "blocks/main-catalog.scss";
@import "blocks/catalog-item.scss";
