$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Arial", sans-serif;

$black-color: #111111;
$light-black-color: #222222;
$dark-grey-color: #444444;
$grey-color: #666666;
$light-grey-color: #e6e6e6;
$extra-light-grey-color: #ededed;
$white-grey-color: #f2f2f2;
$white-color: #ffffff;
$green-color: #68b738;
$dark-green-color: #64a83b;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1300px;
